In [0]:
data=([(1,'Naval'),(2,'Anand')]) 

schema="id int, name string" 

df=spark.createDataFrame(data,schema) 

 

df.write.mode("overwrite").saveAsTable("dev.default.emp")

In [0]:
data=([(3,'Indu','Banglore'),(4,'Abhinav','Hyderbad')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.write.mode("append").option("mergeSchema", "true").saveAsTable("dev.default.emp")

In [0]:
%sql
select * from dev.default.emp;

In [0]:
data=([(3,'Indu','Banglore'),(4,'Abhinav','Hyderbad')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.write.mode("append").option("mergeSchema", "true").saveAsTable("dev.default.emp")

In [0]:
data=([(3,'Indu','Banglore'),(4,'Abhinav','Hyderbad')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.createOrReplaceTempView("source")

In [0]:
%sql
insert into dev.default.emp select * from source

In [0]:
%python 

data=([(1,'Naval','India'),(2,'Anand','US')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.createOrReplaceTempView("emp_source")

In [0]:
%sql
select * from emp_source

In [0]:
%sql
create table dev.default.emp_target (id int, name string, city string)

In [0]:
%sql
merge into dev.default.emp_target t 
using emp_source s 
on t.id=s.id 
when matched then update set t.name = s.name, t.city = s.city 
when not matched then insert (id, name, city) values (s.id, s.name, s.city)

In [0]:
%python 

data=([(1,'Naval','US'),(2,'Anand','India'),(3,'Indu','Canada')]) 

schema="id int, name string, city string" 

df=spark.createDataFrame(data,schema) 

df.createOrReplaceTempView("emp_source")

In [0]:
%sql
merge into dev.default.emp_target t 
using emp_source s 
on t.id=s.id 
when matched then update set t.name = s.name, t.city = s.city 
when not matched then insert (id, name, city) values (s.id, s.name, s.city)

In [0]:
%sql
select * from dev.default.emp_target;